@page "/albums"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Museek.Domain
@using Museek.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="albums/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Album">
    <PropertyColumn Property="album => album.Title" />
    <PropertyColumn Property="album => album.Released_Year" />
    <PropertyColumn Property="album => album.Cover_Image" />
    <PropertyColumn Property="album => album.ArtistId" />
    <PropertyColumn Property="album => album.DateCreated" />
    <PropertyColumn Property="album => album.DateUpdated" />
    <PropertyColumn Property="album => album.CreatedBy" />
    <PropertyColumn Property="album => album.UpdatedBy" />

    <TemplateColumn Context="album">
        <a href="@($"albums/edit?id={album.Id}")">Edit</a> |
        <a href="@($"albums/details?id={album.Id}")">Details</a> |
        <a href="@($"albums/delete?id={album.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MuseekContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
