@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Museek.Domain
@using Museek.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Name" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.Password" />
    <PropertyColumn Property="user => user.Profile_Picture" />
    <PropertyColumn Property="user => user.DateCreated" />
    <PropertyColumn Property="user => user.DateUpdated" />
    <PropertyColumn Property="user => user.CreatedBy" />
    <PropertyColumn Property="user => user.UpdatedBy" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MuseekContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
