@inherits LayoutComponentBase
@using Museek.Components


<div class="page">

    <!-- Top Navbar -->
    <header>
        <NavMenu />
    </header>

    <!-- Main Content -->
    <div class="main-content">
        @Body
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>© 2025 Museek Pte Ltd. All rights reserved.</p>
        <div class="footer-links">
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </footer>
</div>
