.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: #1b1b1b;
}

/* LEFT */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 35px;
    height: 35px;
}

.logo-text {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

/* CENTER */
.nav-center {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex: 1;
}

    .nav-center a {
        color: #aaa;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 6px 12px;
        border-radius: 6px;
    }

        .nav-center a:hover,
        .nav-center a.active {
            color: #fff;
            background-color: #2a2a2a;
        }

.icon {
    width: 18px;
    height: 18px;
}

/* RIGHT */
.nav-right {
    display: flex;
    align-items: center;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

    .profile-icon:hover {
        transform: scale(1.1);
    }
