@implements IDisposable
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="nav-wrapper">

    <!-- Left: Logo -->
    <div class="nav-left">
        <img src="images/MuseekLogo.png" class="logo-img" />
        <h1 class="logo-text">Museek</h1>
    </div>

    <AuthorizeView>
        <Authorized>
            <!-- Center: Navigation Links (logged in) -->
            <div class="nav-center">
                <NavLink href="/home" Match="NavLinkMatch.All">
                    <img src="images/homeIcon.png" class="icon" /> Home
                </NavLink>

                <AuthorizeView Roles="User" Context="UserCtx">
                    | <NavLink href="/userlibrary">
                        <img src="images/album.png" class="icon" /> Library
                    </NavLink>
                </AuthorizeView>

               @*  Need to add /usersongs for favorite songs *@

                <AuthorizeView Roles="Administrator" Context="adminCtx">
                    | <NavLink href="/library">
                        <img src="images/album.png" class="icon" /> Library
                    </NavLink>
                </AuthorizeView>

                <AuthorizeView Roles="User" Context="adminCtx">
                    | <NavLink href="/discover">
                        <img src="images/search.png" class="icon" /> Discover
                    </NavLink>
                </AuthorizeView>

                <AuthorizeView Roles="Administrator" Context="adminCtx">
                    | <NavLink href="/artists">
                        <img src="images/search.png" class="icon" /> Artists
                    </NavLink>
                </AuthorizeView>

                <AuthorizeView Roles="User" Context="UserCtx">
                    | <NavLink href="/usersongs/create">
                        <img src="images/upload.png" class="icon" /> All Songs
                    </NavLink>
                </AuthorizeView>

                <AuthorizeView Roles="Administrator" Context="adminCtx">
                    | <NavLink href="/songs">
                        <img src="images/upload.png" class="icon" /> Upload Music
                    </NavLink>
                </AuthorizeView>

            </div>

            <!-- Right: User + Logout -->
            <div class="nav-right">
                <div class="user-area">
                    <img src="images/user.png" class="profile-icon" />
                    <span>@firstName</span>
                </div>

                <form action="Account/Logout" method="post" class="logout-form">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="" />

                    <button type="submit" class="logout-btn">
                        Logout
                    </button>
                </form>
            </div>
        </Authorized>

        <NotAuthorized>
            <!-- Center: Navigation Links (not logged in) -->
            <div class="nav-center">
                <NavLink href="/home" Match="NavLinkMatch.All">
                    <img src="images/homeIcon.png" class="icon" /> Home
                </NavLink>

                <NavLink href="/discover">
                    <img src="images/search.png" class="icon" /> Discover
                </NavLink>
            </div>

            <!-- Right: Login icon -->
            <div class="nav-right">
                <NavLink href="Account/Login">
                    <img src="images/user.png" class="profile-icon" />
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>

@code {
    private string? firstName;
    private string? currentUrl;

    protected override async Task OnInitializedAsync()
    {
        // Track current URL like in the sample project
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        // Get logged-in user's name
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            firstName = user.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value
                        ?? user.Identity.Name;
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
