@page "/artists/delete"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>

<div>
    <h2>Artist</h2>
    <hr />

    @if (artist is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Profile Pic</dt>
            <dd class="col-sm-10">
                <img src="@artist.Profile_Pic" width="120" />
            </dd>

            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@artist.Name</dd>

            <dt class="col-sm-2">Bio</dt>
            <dd class="col-sm-10">@artist.Bio</dd>

            <dt class="col-sm-2">Country</dt>
            <dd class="col-sm-10">@artist.Country</dd>

        </dl>

        <EditForm method="post" Model="artist" OnValidSubmit="DeleteArtist" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger">Delete</button>
            |
            <a href="/artists">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Artist? artist;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        artist = await context.Artist.FirstOrDefaultAsync(a => a.Id == Id);

        if (artist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteArtist()
    {
        using var context = DbFactory.CreateDbContext();

        var toDelete = await context.Artist.FirstOrDefaultAsync(a => a.Id == Id);
        if (toDelete is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        context.Artist.Remove(toDelete);
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/artists");
    }
}
