.library-page {
    padding: 30px 60px;
    font-family: "Poppins", sans-serif;
}

.page-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}

.tabs {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.tab {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #FFFFFF;
}

    .tab.active {
        color: black;
        border-bottom: 2px solid #ff69f9;
        padding-bottom: 5px;
        color: #FFFFFF;
    }

/* Search + Create */
.top-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 30px;
    width: 240px;
    background: #fafafa;
}

    .search-bar input {
        border: none;
        outline: none;
        background: transparent;
        margin-left: 8px;
        width: 100%;
    }

.search-icon {
    width: 18px;
    opacity: 0.6;
}

.upload-btn {
    background: #ffbdfd;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

/* Table layout */
.song-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table-header {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr 0.8fr;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    color: #FFFFFF;
}

.col-title {
    font-weight: 500;
}

.song-row {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr 0.8fr;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f2f2f2;
}

.song-main {
    display: flex;
    align-items: center;
    gap: 15px;
}

.song-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.song-meta {
    display: flex;
    flex-direction: column;
}

.song-name {
    font-size: 17px;
    font-weight: 600;
}

.song-artist {
    font-size: 14px;
    color: #888;
}

.song-stat {
    font-size: 15px;
    color: #444;
}

.song-actions a {
    font-size: 14px;
    margin-right: 4px;
}
