@page "/artistsongs/edit"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>ArtistSong</h2>
<hr />
@if (ArtistSong is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ArtistSong" OnValidSubmit="UpdateArtistSong" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ArtistSong.Id" value="@ArtistSong.Id" />
                <div class="mb-3">
                    <label for="artistid" class="form-label">ArtistId:</label>
                    <InputNumber id="artistid" @bind-Value="ArtistSong.ArtistId" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.ArtistId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="songid" class="form-label">SongId:</label>
                    <InputNumber id="songid" @bind-Value="ArtistSong.SongId" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.SongId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="ArtistSong.DateCreated" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="ArtistSong.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="ArtistSong.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="ArtistSong.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => ArtistSong.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/artistsongs">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private ArtistSong? ArtistSong { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ArtistSong ??= await context.ArtistSong.FirstOrDefaultAsync(m => m.Id == Id);

        if (ArtistSong is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateArtistSong()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ArtistSong!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ArtistSongExists(ArtistSong!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/artistsongs");
    }

    private bool ArtistSongExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ArtistSong.Any(e => e.Id == id);
    }
}
