@page "/artistsongs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Museek.Domain
@using Museek.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="artistsongs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ArtistSong">
    <PropertyColumn Property="artistsong => artistsong.ArtistId" />
    <PropertyColumn Property="artistsong => artistsong.SongId" />
    <PropertyColumn Property="artistsong => artistsong.DateCreated" />
    <PropertyColumn Property="artistsong => artistsong.DateUpdated" />
    <PropertyColumn Property="artistsong => artistsong.CreatedBy" />
    <PropertyColumn Property="artistsong => artistsong.UpdatedBy" />

    <TemplateColumn Context="artistsong">
        <a href="@($"artistsongs/edit?id={artistsong.Id}")">Edit</a> |
        <a href="@($"artistsongs/details?id={artistsong.Id}")">Details</a> |
        <a href="@($"artistsongs/delete?id={artistsong.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MuseekContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
