@page "/admins/create"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Admin</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Admin" OnValidSubmit="AddAdmin" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Admin.Name" class="form-control" /> 
                <ValidationMessage For="() => Admin.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Admin.Email" class="form-control" /> 
                <ValidationMessage For="() => Admin.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="Admin.Password" class="form-control" /> 
                <ValidationMessage For="() => Admin.Password" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="role" class="form-label">Role:</label> 
                <InputText id="role" @bind-Value="Admin.Role" class="form-control" /> 
                <ValidationMessage For="() => Admin.Role" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Admin.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Admin.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Admin.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Admin.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Admin.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Admin.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Admin.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Admin.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/admins">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Admin Admin { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdmin()
    {
        using var context = DbFactory.CreateDbContext();
        context.Admin.Add(Admin);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/admins");
    }
}
