@page "/admins"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Museek.Domain
@using Museek.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="admins/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Admin">
    <PropertyColumn Property="admin => admin.Name" />
    <PropertyColumn Property="admin => admin.Email" />
    <PropertyColumn Property="admin => admin.Password" />
    <PropertyColumn Property="admin => admin.Role" />
    <PropertyColumn Property="admin => admin.DateCreated" />
    <PropertyColumn Property="admin => admin.DateUpdated" />
    <PropertyColumn Property="admin => admin.CreatedBy" />
    <PropertyColumn Property="admin => admin.UpdatedBy" />

    <TemplateColumn Context="admin">
        <a href="@($"admins/edit?id={admin.Id}")">Edit</a> |
        <a href="@($"admins/details?id={admin.Id}")">Details</a> |
        <a href="@($"admins/delete?id={admin.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MuseekContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
