@page "/ratings/create"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Rating</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Rating" OnValidSubmit="AddRating" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment:</label> 
                <InputText id="comment" @bind-Value="Rating.Comment" class="form-control" /> 
                <ValidationMessage For="() => Rating.Comment" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="Rating.UserId" class="form-control" /> 
                <ValidationMessage For="() => Rating.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="songid" class="form-label">SongId:</label> 
                <InputNumber id="songid" @bind-Value="Rating.SongId" class="form-control" /> 
                <ValidationMessage For="() => Rating.SongId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Rating.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Rating.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Rating.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Rating.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Rating.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Rating.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Rating.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Rating.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/ratings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Rating Rating { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRating()
    {
        using var context = DbFactory.CreateDbContext();
        context.Rating.Add(Rating);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ratings");
    }
}
