@page "/songs/create"


@using Museek.Domain
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Upload Song</PageTitle>

<div class="upload-container">

    <!-- Header -->
    <div class="header">
        <h2>Upload Song</h2>

        <div class="actions">
            <div class="search-box">
                <img src="images/search.png" class="search-icon" />
                <input type="text" placeholder="Search library" />
            </div>

            <button class="upload-btn" type="button">
                + Upload music
            </button>
        </div>
    </div>

    <!-- Form -->
    <div class="form-card">

        <EditForm Model="song" OnValidSubmit="SaveSong">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="form-group">
                <label>Song Title</label>
                <InputText @bind-Value="song.Title" />
                <ValidationMessage For="() => song.Title" class="text-danger" />
            </div>

            <div class="form-group">
                <label>Artist</label>
                <InputSelect @bind-Value="song.ArtistId">
                    <option value="">Select Artist</option>
                    @foreach (var a in artists)
                    {
                        <option value="@a.Id">@a.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => song.ArtistId" class="text-danger" />
            </div>

            <div class="form-group">
                <label>Album</label>
                <InputSelect @bind-Value="song.AlbumId">
                    <option value="">Select Album</option>
                    @foreach (var al in albums)
                    {
                        <option value="@al.Id">@al.Title</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => song.AlbumId" class="text-danger" />
            </div>

            <div class="form-group">
                <label>Cover Image</label>
                <InputFile OnChange="OnCoverSelected" />
            </div>

            <div class="form-group">
                <label>Audio File</label>
                <InputFile OnChange="OnAudioSelected" />
            </div>

            <button class="save-btn" type="submit">
                Save Song
            </button>

        </EditForm>
    </div>

</div>

@code {
    private Song song = new();
    private List<Artist> artists = new();
    private List<Album> albums = new();

    private IBrowserFile? coverFile;
    private IBrowserFile? audioFile;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        artists = await context.Artist
            .OrderBy(a => a.Name)
            .ToListAsync();

        albums = await context.Album
            .OrderBy(a => a.Title)
            .ToListAsync();
    }

    private void OnCoverSelected(InputFileChangeEventArgs e)
    {
        coverFile = e.File;
        // simplest case, just store the file name as path in DB
        song.Cover_Art = $"images/{coverFile.Name}";
    }

    private void OnAudioSelected(InputFileChangeEventArgs e)
    {
        audioFile = e.File;
        song.Audio_File = $"audios/{audioFile.Name}";
    }

    private async Task SaveSong()
    {
        // basic metadata
        song.DateCreated = DateTime.UtcNow;
        song.DateUpdated = DateTime.UtcNow;
        // set CreatedBy / UpdatedBy later using the logged in user if you want

        using var context = DbFactory.CreateDbContext();
        context.Song.Add(song);
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/songs");
    }
}
