@inject NavigationManager NavigationManager

<div class="song-nav-container">

    <nav class="song-nav">

        <div class="nav-item">
            <NavLink class="nav-link" href="/songs">
                <span class="bi bi-music-note-beamed"></span> Songs Home
            </NavLink>
        </div>


        <div class="nav-item">
            <NavLink class="nav-link" href="/songs/edit">
                <span class="bi bi-pencil-square"></span> Edit Song
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/songs/details">
                <span class="bi bi-eye-fill"></span> Details
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/songs/delete">
                <span class="bi bi-trash-fill"></span> Delete
            </NavLink>
        </div>

    </nav>

</div>


@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}
